@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		/*scrollbar-gutter: stable both-edges;*/
		overflow-y: scroll;
		font-family: "Quicksand", font-sans;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		font-family: "Merriweather", serif;
	}
}
